<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoLoginTests.beforeMethod()[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:31</td>   <td>24915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoLoginTests.loginTest(java.lang.String, java.lang.String)[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">loginTest</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:39</td>   <td>33490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoLoginTests.afterMethod()[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:41</td>   <td>35121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoLoginTests.beforeMethod()[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:50</td>   <td>43846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoLoginTests.loginTest(java.lang.String, java.lang.String)[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">loginTest</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>20/05/14 10:14:58</td>   <td>52547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoLoginTests.afterMethod()[pri:0, instance:com.shaanstraining.DemoLoginTests@754ba872]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
