<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>20/05/18 13:02:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.search()[pri:0, instance:com.qa.test.HomePageTest@37313c65]">search</td> 
  <td>main@52514534</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>20/05/18 13:02:17</td>   <td>2839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.test.HomePageTest@37313c65]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@52514534</td>   <td></td> </tr>
</table>
