<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestMaven</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>20/05/14 10:10:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArithmometerTest.AddAssert()[pri:0, instance:com.qa.test.ArithmometerTest@3532ec19]">AddAssert</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>20/05/14 10:10:25</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArithmometerTest.MultiplyAssertTrue()[pri:0, instance:com.qa.test.ArithmometerTest@3532ec19]">MultiplyAssertTrue</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:10:25</td>   <td>732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoLoginTest.beforeMethod()[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:10:42</td>   <td>17272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoLoginTest.loginTest(java.lang.String, java.lang.String)[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">loginTest</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:10:57</td>   <td>32417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoLoginTest.afterMethod()[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:11:01</td>   <td>36194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoLoginTest.beforeMethod()[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:11:06</td>   <td>41597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoLoginTest.loginTest(java.lang.String, java.lang.String)[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">loginTest</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/05/14 10:11:13</td>   <td>48774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoLoginTest.afterMethod()[pri:0, instance:com.qa.test.DemoLoginTest@685cb137]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
</table>
